.eng-gobackdiv {
    margin-left: 30px;
    font-size: 15px;
    font-family: $font-family;
    font-weight: 600;
    color: $sub-header-color;
    display: flex;
    padding-top: 15px;
    cursor: pointer;
}

.eng-gobackimage {
    padding-right: 10px;
}

