
.eng-navbar {
    position: fixed;
    bottom: 0;
    right: calc(25px);
    left: calc(25px);
    height: 8vh;
    z-index: 999;
    background-color: $background-color;

    .ant-tabs {
      color: $white-color !important;
      background-color: $header-color !important;
    }
    .ant-tabs-tab {
      display: flex;
      justify-content: center !important;
      align-items: center !important;
    }
    .ant-tabs-tab-active .ant-tabs-tab-btn {
      color: $white-color !important;
      background-color: $active-color !important;
    }
  }

  .eng-tabs {
    height: 0px !important;
  }
  
  .eng-navbar-icon {
    cursor: pointer;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
  }

  .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    display: flex;
    padding: 5px !important;
    border-radius: 20px !important;
    background-color: $white-color !important;
    color: $header-color !important;
    justify-content: center !important;
    align-items: center !important;
  }