@import '../_variable.scss';

.eng-notificationtitle {
    font-size: 16px !important;
    font-family: $font-family;
    font-weight: 600;
}

.eng-notificationdesc {
    display: inline-block;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px !important;
    font-family: $font-family;

    @media screen and (min-width: 370px) {
        width: 300px !important;
    }

    @media screen and (min-width: 600px) {
        width: 500px !important;
    }

    @media screen and (min-width:1000px) {
        width: 900px !important;
    }
}

.eng-notificationtime {
    font-family: $font-family;
    color: $status-color;
    float: right;
}

.eng-notificationcontainer {
    padding-top: 15px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    padding-right: 10px;

    &-view {
        padding-top: 0px !important;
    }
}

.eng-notificationcards {
    display: flex;
    border: 1px inset;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    position: relative;
}

.eng-collapse_panel {
    font-size: 15px !important;
    font-family:$font-family;
    background-color: $background-color !important;
    font-weight: 600;
    margin-top: 10px;

    .adm-list-item-content-main {
        font-size: 15px !important;
    }

    &:hover {
        background-color: $white-color !important;
    }
}

.eng-collapse_description {
    font-size: 13px !important;
    font-family:$font-family;
}

.eng-collapsecontainer {
    padding-top: 5px;

    &_notification {
        display: flex;
        justify-content: center;
        padding: 10px;
        padding-top: 30px;
        font-size: 15px;
        font-weight: 600;
        color: $primary-color;
        font-family:$font-family;
    }
}

.eng-markascontainer {
    margin-right: 15px;
    padding-top: 15px;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    font-weight: 600;
    font-family:$font-family;
    color: $primary-color;
}

.eng-marktitle {
    cursor: pointer;
}

.eng-titlediv {
    display: flex;
}

.eng-viewibutton {
    cursor: pointer;
}

.eng-collapse_notify {
    border-radius: 10px;
    .adm-list-item {
        background-color: $white-color;
        width: 300px !important;
        font-size: 15px;
        font-weight: 700;
        border-radius: 10px;
    }

    .adm-list-item-content-arrow {
        color: #1677FF !important;
        font-weight: 700;
    }
}

.eng-notifycontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.eng-notificationsdetails {
    padding: 20px;
    // width: 100%;
    // position: relative;
}

.eng-notificationdetailscontainer {
    display: flex;
    margin-top: -270px;
    
}

.eng-notificationdetailsleft {
    width: 30%;
}

.eng-notificationdetailsright {
    width: 100% !important;
    text-align: justify;
    text-justify: inter-word;
}

.eng-notificationdate {
    align-items: end;
    display: flex;
    justify-content: flex-end;
}

.eng-mainnotifycontainer {
    width: 100%;
    display: flex;
    cursor: pointer;
    margin-right: 0;
    padding-right: 0;
}

.eng-mainnotifycontainerleft {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    right: 0;
    position: relative;
}

.eng-notificationtimecorner {
    float: right;
    position: relative;
}