.eng-qrcodecontainer {
    margin: 10px 50px;
    margin-top: 20px;
}

.eng-middetailcontainer {
    font-size: 20px;
    font-family: $font-family;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    &_col {
        padding-left: 10px !important;
        margin-left: 30px;
    }
}

.eng-eventselect {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eng-profileImeage {
    width: 20vh;
    height: 20vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.eng-imagecontainer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}