.eng-qrcodecontainer {
    margin: 10px 50px;
    margin-top: 20px;
}

.eng-middetailcontainer {
    font-size: 20px;
    padding-top: 20px;
    font-family: $font-family;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    &_code {
        padding-top: 10px !important;
    }
}

.eng-profileImeage {
    width: 20vh;
    height: 20vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.eng-imagecontainer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}