.eng-form-input {
    width: 95%;
    color: $header-color !important;
    font-size: 16px !important;
    font-weight: 700 !important;
}

.eng-form-input .ant-input {
    font-family: $font-family;
    width: 100% !important;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid $status-color;
    border-radius: 7px;
    padding: 4px;

    &:hover {
        border: 1px solid $header-color;
    }
}

.eng-select {
    font-size: 15px !important;
    font-family: $font-family !important;
    width: 100%;
    font-weight: 700 !important;
    margin-bottom: 30px;

    &-event {
        margin-left: 65px;
    }

    .ant-select .ant-select-selection-item {
        font-size: $font-family !important;
        height: 40px;
        font-weight: 700 !important;
        font-size: 15px !important;
    }

    .ant-select-single .ant-select-selector {
        background-color: red !important;
    }

    .ant-select-single .ant-select-selector .ant-select-selection-item {
        padding: 10px !important;
        line-height: 10px !important;
    }
}

.eng-signupcol {
    padding: 15px;
}