$header-color: #141466;
$sub-header-color: #2929cc;
$primary-color: #2929cc;
$active-color: #616184;
$white-color: #fff;
$status-color: #b0a9a9;
$background-color: #dadae6;
$title-font-size: 20px;
$subtitle-font-size: 18px;
$normal-font: 14px;
$font-family: 'Poppins', sans-serif;
$xxxsm:380px;
$xxsm:430px;
$xsm: 480px;
$sm: 576px;
$md: 820px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;
$mheight: 415px;
